# Dependencies
node_modules
target/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Git
.git/
.gitignore
.gitattributes

# Env & secrets
.env
.env.*
!.env.example

# Build output
build/
out/
dist/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Docs
*.md
!README.md