openapi: 3.0.3
info:
  title: MedBook API Documentation
  description: Tài liệu đặc tả API Hệ thống Đặt lịch & Quản lý Y tế MedBook - Nhóm 03 (CSE702051)
  version: 1.0.0
servers:
  - url: https://api.medbook.com/v1
    description: Production Server
  - url: http://localhost:3000/api/v1
    description: Development Server

paths:
  /auth/register:
    post:
      summary: Đăng ký tài khoản
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: Đăng ký thành công

  /auth/login:
    post:
      summary: Đăng nhập
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Đăng nhập thành công
        '401':
          description: Sai thông tin đăng nhập

  /doctors:
    get:
      summary: Lấy danh sách bác sĩ
      responses:
        '200':
          description: Thành công

  /appointments:
    get:
      summary: Lấy danh sách lịch khám
      responses:
        '200':
          description: Thành công
    post:
      summary: Đặt lịch khám mới
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doctorId:
                  type: integer
                appointmentDate:
                  type: string
                  format: date-time
                notes:
                  type: string
      responses:
        '201':
          description: Tạo lịch hẹn thành công

  /medical-records:
    get:
      summary: Xem hồ sơ bệnh án
      responses:
        '200':
          description: Thành công
